<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Detalle de ingreso egreso</h4>

        <table class="table">
          <thead>
          <tr>
            <th>Descripción</th>
            <th>Monto</th>
            <th>Tipo</th>
            <th></th>
          </tr>
          </thead>

          <tbody>
          <tr *ngFor="let item of entryExit">
            <td>{{item.description}}</td>
            <td>{{item.amount | currency}}</td>
            <td><span [class.badge-warning]="item.type === 'egress'"
                      [class.badge-info]="item.type === 'entry'"
                      class="badge badge-pill text-size-btn">
              {{item.type}}
            </span></td>
            <td>
              <button (click)="eraseList(item.uid)"
                      type="button"
                      class="btn btn-danger text-size-btn"
              >
                <i class="fa fa-trash"></i>
                Borrar
              </button>
            </td>
          </tr>
          </tbody>

        </table>


      </div>
    </div>
  </div>
</div>

